
.box{
    border: 2px solid #333;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1rem; /* space between components */
}
.sectionheading{
    border-bottom: 1px solid black;
}
h2{
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}